h1{
    font-size: 84px;/*размер шрифта*/
    text-align: center;
    font-family:fantasy;
    color:aliceblue;

    
    
}
body{
    background: aliceblue;
    font-size: 30px;
            
   
    /*background-image: url(file:///C:/Users/jonik/Desktop/nastol.com.ua-14771.jpg)     
    !!!фоновое изображение!!!*/
    
}
h2{
    vertical-align: super;/*top — выравнивание по верхнему краю строки;
middle — по середине строки;
bottom — по нижнему краю строки;
baseline — по базовой линии строки (значение по умолчанию).*/
    text-align: center;/* текст выравнивание!left — выравнивание по левому краю блока, это значение по умолчанию;
right — по правому краю блока;
center — по центру блока;
justify — по ширине блока, при этом слова в строке будут размещаться так, чтобы занять равномерно всё пространство строки (пробелы между словами в таком случае становятся неравномерными, так как браузер «растягивает» слова в строке).
    Так же можно применять и к изображениям и другим блокам.*/
    color:chartreuse;
}
p{
    font-size: 0.8em;/* от 10 px тоесть от родителя body*/
    background-color: blueviolet;/* цвет фона */
    max-width: 140px;
    line-height: 20px;/* растояние между строками горизонтальное*/
    /*line-height: 150%;  вычисленное значение: 10px * 150% = 15px */
    /*line-height: 2;   вычисленное значение: 10px * 2 = 20px */
    font-family: serif; /* семейство шрифтов */
    font-weight: 900; /* толщина шрифта!100: Thin;
200: Extra Light (Ultra Light);
300: Light;
400: Normal;
500: Medium;
600: Semi Bold (Demi Bold);
700: Bold;
800: Extra Bold (Ultra Bold);
900: Black (Heavy).*/
      text-decoration:line-through;/*
underline — подчёркивание;
line-through — зачёркивание;
overline — надчёркивание;
none — убирает вышеперечисленные эффекты.*/
    
    
    
}
.www{
    font-size: 48px;
    text-align: center;
    
    
}
.qwe{
    padding: 20px;/* padding задаёт внутренние отступы в блоке отступ со всех сторон 10px */
    margin: 20px 0; /* margin задаёт внешние отступы 20px и 0px слева и справа */
    white-space:pre; /*nowrap — схлопывает лишние пробелы и отображает весь текст одной строкой без переносов;
pre — сохраняет пробелы и переносы как в исходном коде аналогично тегу <pre>;
pre-wrap — работает как значение pre, но добавляет автоматические переносы, если текст не помещается в контейнер;
normal — режим по умолчанию: лишние пробелы и переносы строк схлопываются, текст переносится, пробелы в конце строк удаляются.*/
    font-style: oblique;/*
    normal — обычное начертание;
italic — курсивное начертание.
oblique — наклонное начертание.
    */
    text-transform: uppercase;/*
    lowercase — все строчные;
uppercase — все заглавные;
capitalize — каждое слово начинается с большой буквы;
none — отменяет изменение регистра.
    
*/
}